{% if id is not defined %}
{% set id = "navbar" %}
{% endif %}
{% if class is not defined %}
{% set class = "navbar-light bg-light" %}
{% endif %}

    {% if block('brand') is defined %}
{# Mise en place de notre barre nav, (select langue) #}
<nav class="nav justify-content-between {{ class }}">
    <a class="navbar-brand" href="{% if brandUrl is not empty %}{{ brandUrl }}{% else %}#{% endif %}">
        {{ block('brand') }}
    </a>
    <ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="{{ path('change_locale', {'locale': 'fr'}) }}"><img style="height: 30px;" src="/uploads/FlagFrance.png" alt="français"></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ path('change_locale', {'locale': 'en'}) }}"><img style="height: 30px;" src="/uploads/FlagEngland.png" alt="english"></a>
  </li>
</ul>
    {% endif %}

    {% if block('menu') is defined %}

    <button class="navbar-toggler collapsed" controls="navbarResponsive" type="button" data-toggle="collapse" data-target="#{{ id }}" aria-controls="{{ id }}" aria-expanded="false" aria-label="Toggle navigation">
        {% block toggler_button %}
            <span class="navbar-toggler-icon"></span>
        {% endblock %}
    </button>

    <div class="collapse navbar-collapse" id="{{ id }}">
        {{ block('menu') }}
    </div>
    {% endif %}

    {% block body %}
    {% endblock %}
</nav>