{% extends 'layout.html.twig' %}

{% block title %}Visiteur index{% endblock %}

{% block body %}
    <h1>Visiteur index</h1>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Nom</th>
                <th>Prenom</th>
                <th>Societe</th>
                <th>Motif</th>
                <th>zoneVisite</th>
                {# <th>marqueVehicule</th> #}
                {# <th>Immatriculation</th> #}
                {# <th>Couleur</th> #}
                {# <th>Cni</th> #}
                {# <th>idUnique</th> #}
                {# <th>Sexe</th> #}
                {# <th>Ville</th> #}
                {# <th>codePostal</th> #}
                {# <th>numeroRue</th> #}
                {# <th>Rue</th> #}
                {# <th>Telephone</th> #}
                {# <th>Email</th> #}
                <th>Heure d'arrivée</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for visiteur in visiteurs %}
            <tr>
                {# <td>{{ visiteur.id }}</td> #}
                <td>{{ visiteur.nom }}</td>
                <td>{{ visiteur.prenom }}</td>
                <td>{{ visiteur.societe }}</td>
                <td>{{ visiteur.motif }}</td>
                <td>{{ visiteur.zoneVisite }}</td>
                {# <td>{{ visiteur.marqueVehicule }}</td> #}
                {# <td>{{ visiteur.immatriculation }}</td> #}
                {# <td>{{ visiteur.couleur }}</td> #}
                {# <td>{{ visiteur.cni }}</td> #}
                {# <td>{{ visiteur.idUnique }}</td> #}
                {# <td>{{ visiteur.sexe }}</td> #}
                {# <td>{{ visiteur.ville }}</td> #}
                {# <td>{{ visiteur.codePostal }}</td> #}
                {# <td>{{ visiteur.numeroRue }}</td> #}
                {# <td>{{ visiteur.rue }}</td> #}
                {# <td>{{ visiteur.telephone }}</td> #}
                {# <td>{{ visiteur.email }}</td> #}
                <td>{{ visiteur.heureArrivee() }}</td>
                <td>
                    <a href="{{ path('visiteur_show', {'id': visiteur.id}) }}"><i class="fa fa-eye"></i></a>
                    {# <a href="{{ path('visiteur_edit', {'id': visiteur.id}) }}"><i class="fa fa-pencil-alt"></i></a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="20">Aucun visiteur trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('visiteur_new') }}"><i class="fa fa-plus"></i> Ajouter un nouveau visiteur</a>
{% endblock %}
