{% extends 'layout.html.twig' %}

{% block title %}Visiteur{% endblock %}

{% block body %}
    <h1>Visiteur</h1>

    <table class="table">
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ visiteur.id }}</td>
            </tr> #}
            <tr>
                <th>Nom</th>
                <td>{{ visiteur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ visiteur.prenom }}</td>
            </tr>
            <tr>
                <th>Societe</th>
                <td>{{ visiteur.societe }}</td>
            </tr>
            <tr>
                <th>Motif</th>
                <td>{{ visiteur.motif }}</td>
            </tr>
            <tr>
                <th>zoneVisite</th>
                <td>{{ visiteur.zoneVisite }}</td>
            </tr>
            {# <tr>
                <th>marqueVehicule</th>
                <td>{{ visiteur.marqueVehicule }}</td>
            </tr>
            <tr>
                <th>Immatriculation</th>
                <td>{{ visiteur.immatriculation }}</td>
            </tr>
            <tr>
                <th>Couleur</th>
                <td>{{ visiteur.couleur }}</td>
            </tr>
            <tr>
                <th>Cni</th>
                <td>{{ visiteur.cni }}</td>
            </tr> #}
            <tr>
                <th>idUnique</th>
                <td>{{ visiteur.idUnique }}</td>
            </tr>
            {# <tr>
                <th>Sexe</th>
                <td>{{ visiteur.sexe }}</td>
            </tr>
            <tr>
                <th>dateNaissance</th>
                <td>{{ visiteur.dateNaissance }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ visiteur.ville }}</td>
            </tr>
            <tr>
                <th>codePostal</th>
                <td>{{ visiteur.codePostal }}</td>
            </tr>
            <tr>
                <th>numeroRue</th>
                <td>{{ visiteur.numeroRue }}</td>
            </tr>
            <tr>
                <th>Rue</th>
                <td>{{ visiteur.rue }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ visiteur.telephone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ visiteur.email }}</td>
            </tr> #}
        </tbody>
    </table>

    <a href="{{ path('visiteur_index') }}" class="btn btn-lg btn-primary"><i class="fa fa-arrow-left"></i></a>

    {# <a href="{{ path('visiteur_edit', {'id': visiteur.id}) }}" class="btn btn-primary"><i class="fa fa-pencil-alt"></i></a> #}

    {# {{ include('visiteur/_delete_form.html.twig') }} #}

{% endblock %}
