{% extends 'base.html.twig' %}

{% block title %}Visiteur{% endblock %}

{% block body %}
    <h1>Visiteur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ visiteur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ visiteur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ visiteur.prenom }}</td>
            </tr>
            <tr>
                <th>Societe</th>
                <td>{{ visiteur.societe }}</td>
            </tr>
            <tr>
                <th>Motif</th>
                <td>{{ visiteur.motif }}</td>
            </tr>
            <tr>
                <th>Zone_visite</th>
                <td>{{ visiteur.zoneVisite }}</td>
            </tr>
            <tr>
                <th>Marque_vehicule</th>
                <td>{{ visiteur.marqueVehicule }}</td>
            </tr>
            <tr>
                <th>Immatriculation</th>
                <td>{{ visiteur.immatriculation }}</td>
            </tr>
            <tr>
                <th>Couleur</th>
                <td>{{ visiteur.couleur }}</td>
            </tr>
            <tr>
                <th>Cni</th>
                <td>{{ visiteur.cni }}</td>
            </tr>
            <tr>
                <th>Id_unique</th>
                <td>{{ visiteur.idUnique }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ visiteur.sexe }}</td>
            </tr>
            <tr>
                <th>Date_naissance</th>
                <td>{{ visiteur.dateNaissance }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ visiteur.ville }}</td>
            </tr>
            <tr>
                <th>Code_postal</th>
                <td>{{ visiteur.codePostal }}</td>
            </tr>
            <tr>
                <th>Numero_rue</th>
                <td>{{ visiteur.numeroRue }}</td>
            </tr>
            <tr>
                <th>Rue</th>
                <td>{{ visiteur.rue }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ visiteur.telephone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ visiteur.email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('visiteur_index') }}">back to list</a>

    <a href="{{ path('visiteur_edit', {'id': visiteur.id}) }}">edit</a>

    {{ include('visiteur/_delete_form.html.twig') }}
{% endblock %}
